html {
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    font-size: 33px;
    color: black;
}

.calculator {
    width: 475px;
    margin: 0 auto;
}

.buttons {
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;

    grid-template-columns: repeat(5, 95px);
    grid-template-rows: repeat(4, 95px);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.output {
    text-align: right;
    font-size: 2.5rem;
    margin-bottom: 10px;
    border-right: 1.35px solid white;
}

.blinking-cursor {
    border-right: 1.35px solid #4286f4;
}

.operator-area {
    background-color: #7a7a7a;
    color: white;
}

.operator-area-active {
    background-color: #828282;
}

.num-area {
    background-color: #333333;
    color: white;
}

.num-area-active {
    background-color: #3f3f3f;
}

.clickable {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }